//FONTES
$fonte: 'Josefin Sans', sans-serif;

//CORES:
$cor-verde_agua:#2AF598;
$cor-vermelho_magenta: #FF002E;
$cor-azul-ceu: #08AEEA;
$cor-branca:#ffffff;
$cor-cinza_claro:#EDEDED;
$degrade-azul_verde:linear-gradient(180deg, rgba(8,174,234,1) 0%, rgba(42,245,152,1) 100%);

$cor-header_04:#00A3FF;
$cor-header_03:#7071E8;
$cor-header_02:#FF90BC;
$cor-header_01:#D80032;

$cor-fonte--cinza_escuro:#575757;
$cor-fonte--cinza_claro:#BDBDBD;

//TAMANHO DAS FONTES
$tamanho-texto: 3em;